$botones: #143349;
$fondo: #273250;
$fondoalt: #142e49;
$borde: #40516c;
$texto: #fdfdfd;
body {
    background: $fondo;
    a, a:hover {
        text-decoration: none;
    }
    #sliderprincipal {
        h1 {
            i {
                float: right;
                margin-left: 0.2em;
            }
        }
        img {
            height: auto;
            width: 100%;
        }
        p {
            text-align: justify;
        }
        .slidebottom {
            width: 100%;
            height: 25em;
            position: absolute;
            margin-top: -20em;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 5%,
                rgba(20, 46, 73, 0.4) 10%,
                rgba(20, 51, 73, 0.7) 30%,
                rgba(39, 50, 80, 1) 50%
            );
        }
    }
    #relleno {
        height: 60em;
    }
}

@media only screen and (max-width: 720px) {
    body {
        #sliderprincipal {
            img {
                height: auto;
                width: 100vw;
            }
            p {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    body {
        #sliderprincipal {
            margin-top: 0.9em;
        }
    }
}
